body{
  margin: 0;
  text-align: center;
}
h1{
  margin: 30px auto 0 auto;
  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  font-weight: 200;
  color: #11999E;
}
p{
  font-size: 1.5rem;
  font-family : 'Comic Neue', cursive;
  font-weight: 500;
}
.programmer{
  margin-top: 0;
  font-size: 250%;
}
h2{
  font-size: 2.8rem;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
h3{
  font-size: 2rem;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top-cloud{
  position : absolute;
  top: 5%;
  right  : 25%;
}

.bottom-cloud{
  position : absolute;
  left : 25%;
}

.top-container{
  background-color: #E4F9F5;
  padding: 75px;
  position: relative;
}
.my-picture{
  height : 1000%;
  width : 1000%;
}
.profile{
  width: 40%;
  margin: auto;
}
.skill-text{
  margin-bottom: 0;
}
.code-img{
  width: 35%;
  float: left;
  margin-right: 2rem;
}
.cook-img{
  width: 35%;
  float: right;
  margin-left: 2rem;
}

.skill-row{
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: left;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #C8C8C8;
  width: 5%;
}
.pro{
  text-decoration: underline;
}

.code-head{
  padding-top: 1rem;
}
.contact-me{
  width: 40%;
  margin: auto;
}
.contact-subdescription{
  font-size: 1rem;
}
.contact-description{
  font-size: 1.5rem;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #165666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.middle-container{
  margin: 100PX auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}
.copyright{
  font-size: 1.5rem;
  color: #EAF6F6;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
